PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/aurachat
JWT_SECRET=aurachat_jwt_super_secret_key_2026_x89a0b
JWT_REFRESH_SECRET=aurachat_jwt_refresh_super_secret_key_2026_q27z9p
CLIENT_URL=http://localhost:5173
STUN_SERVER=stun:stun.l.google.com:19302
TURN_SERVER=
TURN_USERNAME=
TURN_PASSWORD=
STORAGE_PROVIDER=local
STORAGE_DIR=./uploads
